*.class
*.byte
*.hi
*.o
*.pyc
day1/challenge1/challenge1
day1/challenge2/challenge2
day8/challenge/challenge
*.cmi
*.cmo
day10/challenge1/challenge1
day10/challenge2/challenge2
day10/challenge1/_build
day10/challenge2/_build
*.exe
